/*This part will apply for desktops and laptops*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.body {
    font-family: 'Domine';
    font-size: 14px;
    background: rgba(20, 149, 192, 0.667);
}

.form {
    max-width: 600px;
    width: 100%;
    height: auto;
    padding: 30px 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 2px 15px rgba(12, 11, 5, 0.863);
    background-color:#fff
}

.body .form #div1 {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #3c3cb9;
}

.design {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border-style: hidden;
}

.body .title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #3c3cb9;
}

.body .form .inputFields {
    position: relative;
    margin-bottom: 10px;
}

.body .form .inputFields .design {
    width: 100%;
    padding: 10px;
    padding-left: 14px;
    border: 1px solid gainsboro;
    background: rgb(234, 236, 236);
}

.body .form .inputFields #labels {
    margin-bottom: 20px;
    text-align: left;
    font-size: 16px;
}

.body .form .inputFields .span {
    font-size: 14px;
}

.body .form .inputFields span i {
    color: green;
}

.body .form #button {
    background: #52c136;
    box-shadow: 4px gainsboro;
    border-radius: 5px;
    width: 30%;
    margin-top:10px;
    padding: 8px;
    border: none;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
}

.body .form #button span {
    margin-top: 30px;
}

.body .form .button :hover {
    opacity: 0.8;
    box-shadow: 0.5 0.5 rgb(59, 237, 97);
}

#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
/* Media Query for Large screens like TV*/
@media (min-width: 82rem) {
    .body {
        font-size: 45px;
        font-weight: 400;
        background-color: rgb(121, 186, 242);
    }

    .form {
        max-width: 1100px;
        height: auto;
    }

    .body .form #div1 {
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 30px;
        color: #3c3cb9;
    }

    .body .form .inputFields .design {
        padding: 30px;
        padding-left: 14px;
        border: 1px solid gainsboro;
        background: rgb(234, 236, 236);
    }

    .body .form .inputFields #labels {
        margin-bottom: 10px;
        text-align: left;
        font-size: 30px;
    }

    .body .form .inputFields .span {
        font-size: 20px;
    }

    .body .form .inputFields .msg {
        font-size: 20px;
    }

    .body .form .button .msg {
        font-size: 20px;
    }

    .body .form #button {
        width: 30%;
        height: 70px;
        padding: 5px;
        font-weight: 400;
        font-size: 20px;
    }
}

/*Media Query for Tablets Ipads portrait mode */
@media (min-width: 43rem) and (max-width: 61rem) {
    .body {
        background-color: rgba(12, 177, 76, 0.815);
    }

    .form {
        max-width:400px;
        height: auto;
    }

    .body .form #div1 {
        font-size: 25px;
        font-weight: 330;
        margin-bottom: 17px;
        color: #3c3cb9;
    }

    .body .form .inputFields .design {
        padding: 20px;
        padding-left: 12px;
        border: 1px solid gainsboro;
        background: rgb(234, 236, 236);
    }

    .body .form .inputFields #labels {
        margin-bottom: 7px;
        text-align: left;
        font-size: 20px;
    }

    .body .form .inputFields .msg {
        font-size: 14px;
    }

    .body .form .button .msg {
        font-size: 14px;
    }

    .body .form #button {
        width: 22%;
        height: 55px;
        font-weight: 400;
    }
}

/*Media queries for mobile screens*/
@media (max-width:42rem){
    .body{
        background-color:lightpink;
    }
    .form {
        max-width:336px;
        height: auto;
    }

    .body .form #div1 {
        font-size: 17px;
        font-weight: 250;
        margin-bottom: 13px;
        color: #3c3cb9;
    }

    .body .form .inputFields .design {
        padding: 10px;
        padding-left:0px;
    }

    .body .form .inputFields #labels {
        margin-bottom: 5px;
        text-align: center;
        font-size: 13px;
    }

    .body .form .inputFields .msg {
        font-size: 9px;
    }

    .body .form .button .msg {
        font-size: 9px;
    }

    .body .form #button {
        width: 19%;
        height: 50px;
        font-weight: 330;
        text-align: center;
    }
}


